* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light-blue: #31c3bd;
	--light-blue-hover: #65e9e4;
	--light-yellow: #f2b137;
	--light-yellow-hover: #ffc860;
	--dark-navy: #1a2a33;
	--semi-dark-navy: #1f3641;
	--silver: #a8bfc9;
	--silver-hover: #dbe8ed;

	--font: "Outfit", serif;

	--heading-l-size: 40px;
	--heading-l-weight: 700;
	--heading-l-line-height: 50.4px;
	--heading-l-letter-spacing: 2.5px;

	--heading-s-size: 20px;
	--heading-s-weight: 700;
	--heading-s-line-height: 30.24px;
	--heading-s-letter-spacing: 1.5px;

	--heading-s-size: 24px;
	--heading-s-weight: 700;
	--heading-s-line-height: 25.2px;
	--heading-s-letter-spacing: 1.25px;

	--heading-xs-size: 16px;
	--heading-xs-weight: 700;
	--heading-xs-line-height: 20.16px;
	--heading-xs-letter-spacing: 1px;

	--body-size: 14px;
	--body-weight: 400;
	--body-line-height: 17.64px;
	--body-letter-spacing: 0.88px;

	--btn-yellow-background-color: #f2b137;
	--btn-yellow-background-color-hover: --light-yellow-hover;
	--btn-yellow-shadow: 0px -8px 0px 0px rgba(204, 139, 19, 1) inset;
	--btn-yellow-radius: 15px;
	--btn-yellow-size: 20px;
	--btn-yellow-weight: 700;
	--btn-yellow-line-height: 25.2px;
	--btn-yellow-letter-spacing: 1.25px;
	--btn-yellow-text-align: center;

	--btn-blue-background-color: #31c3bd;
	--btn-blue-background-color-hover: --light-blue-hover;
	--btn-blue-shadow: 0px -8px 0px 0px rgba(17, 140, 135, 1) inset;
	--btn-blue-radius: 15px;
	--btn-blue-size: 20px;
	--btn-blue-weight: 700;
	--btn-blue-line-height: 25.2px;
	--btn-blue-letter-spacing: 1.25px;
	--btn-blue-text-align: center;

	--btn-yellow-secondary-background-color: #f2b137;
	--btn-yellow-secondary-background-color-hover: --light-yellow-hover;
	--btn-yellow-secondary-shadow: 0px -8px 0px 0px rgba(204, 139, 19, 1) inset;
	--btn-yellow-secondary-radius: 10px;
	--btn-yellow-size: 16px;
	--btn-yellow-weight: 700;
	--btn-yellow-line-height: 20.16px;
	--btn-yellow-letter-spacing: 1px;
	--btn-yellow-text-align: center;

	--btn-gray-secondary-background-color: --silver;
	--btn-gray-secondary-background-color-hover: --silver-hover;
	--btn-gray-secondary-shadow: 0px -4px 0px 0px rgba(107, 137, 151, 1) inset;
	--btn-gray-secondary-radius: 10px;
	--btn-gray-size: 16px;
	--btn-gray-weight: 700;
	--btn-gray-line-height: 20.16px;
	--btn-gray-letter-spacing: 1px;
	--btn-gray-text-align: center;

	--btn-reset-background-color: --silver;
	--btn-reset-background-color-hover: --silver-hover;
	--btn-reset-shadow: 0px -4px 0px 0px rgba(107, 137, 151, 1) inset;
	--btn-reset-radius: 10px;

	--sec-select-shadow: 0px -8px 0px 0px rgba(16, 33, 42, 1) inset;
}


body {
	background-color: #1a2a33;
	color: #a8bfc9;
	font-family: 'Outfit', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 20px;
}

header, main {
	width: 100%;
	max-width: 500px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.turn-div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1f3641;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0px -4px 0px 0px #10212A inset;

}

.turn-div img {
	width: 25px;
	margin-right: 8px;
}

.btn-reset {
	background-color: #a8bfc9;
	border: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0px -4px 0px 0px #6B8997 inset;

}

.game-area {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	width: 100%;
	max-width: 500px;
	margin: 40px auto;
}

.game-area button {
	background-color: #1f3641;
	border: none;
	border-radius: 10px;
	padding: 50px;
	cursor: pointer;
	box-shadow: 0px -8px 0px 0px #10212A inset;
}

.info-game-area {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 500px;
	text-align: center;
	gap: 20px;
}

.info-game-area div {
	flex: 1;
	padding: 15px;
	border-radius: 10px;
}

.info-p1 { background-color: #31c3bd; 
color: var(--dark-navy);}
.info-ties { background-color: #a8bfc9; 
	color: var(--dark-navy);}
.info-p2 { background-color: #f2b137;
	color: var(--dark-navy); }
	

	.popup {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		background-color:#1F3641;
		color: white;
		padding: 20px;
		border-radius: 8px;
		display: none;
		z-index: 1000;
		text-align: center;
		padding:  50px 0 50px 0;
	}
	
	
	.popup p {
		margin: 0 0 20px 0;
		font-size: 18px;
	}

	.popup h3{
		color: #CC8B13;
	}
	
	.popup #closePopup1 {
		background-color: #CC8B13;
		color: white;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
		border-radius: 10px;
		color: var(--dark-navy);
		font-weight: 700;
		box-shadow: 0px -4px 0px 0px #CC8B13 inset;

	}
	.popup #closePopup {
		background-color: var(--silver);
		color: white;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
		border-radius: 10px;
		color: var(--dark-navy);
		font-weight: 700;
		box-shadow: 0px -4px 0px 0px #6B8997 inset;

	}

	.closePopup1{
		background-color: #ffc860;
	}
	

	.popup-take-round{
display: flex;
justify-content: center;
	}
	

	
@media screen and (min-width: 750px) {
	.game-area button { padding: 60px; }
}

@media screen and (min-width: 1440px) {
	main { width: 40%; }
	.game-area button { padding: 80px; 
		}
	
}
